*{
    margin: 0;
    padding: 0;
    background-color: aliceblue;
    font-family: sans-serif;
}
body{
    width: 100vw;
    display: flex;
    justify-content: center;
}
input{
    height: 30px;
    width: 90vw;
    max-width: 450px;
    margin-top: 60px;
    font-size: 18px;
}
input:focus{
    outline: none;
}
#Selector{
    margin-top: 5px;
    max-height: 80vh;
    overflow: auto;
}
#Selector li{
    width: calc(100% - 10px);
    background-color: #deeaeb;
    list-style-type: none;
    height: 20px;
    padding: 5px;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
}
#Selector li:hover{
    background-color: #b9f4f8;
}